# General
*.tar.gz
*.deb
*.dsc
*.changes
*.build
.sconsign.dblite
*.pyc
.DS_Store
# Build environment
/.bash_history
/build/
/install/

# Visual Studio
*.suo
*.sdf
*.opensdf
*.vcxproj.user

dist/
.vscode/
node_modules/
cxx/build/

# Package files
*.pkg
